[submodule "buzz"]
	path = buzz
	url = https://github.com/block/buzz
[submodule "governance/engine/lib/forge-std"]
	path = governance/engine/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
